<div class="container mt-3">
  <p class="h1">Pasen</p>

  <p class="h5 text-secondary">¿Qué es PASEN?</p>
  <p class="text-secondary">
    PASEN es el módulo de Séneca que permite la comunicación entre los centros
    educativos y las familias, tutores legales y alumnado, ofreciendo una serie
    de funcionalidades, como: consulta de calificaciones, consulta y
    justificación de faltas de asistencia, datos del centro educativo, horario y
    calendario escolar, mensajería interna, etc.
  </p>

  <p class="h5 text-secondary">
    Cómo obtener el usuario y la contraseña (autologin) de Pasen
  </p>
  <p class="text-secondary">
    El procedimiento de "autologin" está disponible para usuarios con perfiles
    tutor/a legal y alumnado (tanto emancipado como no). Mediante él, cualquier
    padre/madre o alumno/a podrá realizar un proceso de "autologin" para obtener
    las credenciales de acceso a PASEN (<span class="underline">usuario</span> y
    <span class="underline">contraseña</span> ).
  </p>
  <p class="text-secondary">
    Para realizar el "autologin" a través de la aplicación web o de la app
    iPasen, las familias deberán pinchar en el enlace
    <span class="bold">'No tengo acceso'</span> de la pantalla de login de la
    página principal de
    <a
      href="http://portalseneca.ced.junta-andalucia.es/educacion/portalseneca/web/pasen/inicio"
      >Pasen</a
    >
  </p>
  <p class="text-secondary">
    Se requerirán tres datos: el <span class="bold">NIF</span>, una
    <span class="bold">fecha de nacimiento</span> (de algunos de sus hijos/as o
    la suya propia) y un número de
    <span class="bold">teléfono móvil</span> donde recibirá por SMS las
    credenciales. Este último deberá coincidir con el que consta en Séneca para
    los tutores legales o para el alumnado (consulte con el Instituto en caso de
    duda o necesidad de actualizar el número de teléfono).
  </p>
  <p class="text-secondary">Video explicativo:</p>
  <iframe
    class="mt-3 mx-auto d-block"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/3z6eWjQWnuc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
