<div class="container mt-3">
  <p class="h1">Exención módulo FCT</p>

  <p class="h5 text-secondary">
    Procedimiento para solicitar la exención total o parcial de la FCT
  </p>
  <p class="text-secondary">
    Podrán solicitar la exención total o parcial del módulo profesional de
    Formación en Centros de Trabajo por su correspondencia con la práctica
    laboral, todos aquellos alumnos y alumnas que acrediten una experiencia
    laboral de
    <span class="bold">
      al menos un año a tiempo completo, relacionada con el ciclo formativo en
      el que estén matriculados
    </span>
    que permita demostrar que la persona solicitante tiene adquiridos los
    resultados de aprendizaje del módulo profesional de formación en centros de
    trabajo.
  </p>
  <p class="text-secondary">
    En el caso de contratos a tiempo parcial, los días de cotización deberán ser
    equivalentes a un año a tiempo completo.
  </p>
  <hr class="m-4" />
  <p class="h5 text-secondary">Presentación de solicitudes y documentación</p>
  <p class="text-secondary py-3">
    La
    <a
      href="https://www.iesruizgijon.es/images/ciclos/documentos/solicitud-exencion-fct_editable.pdf"
      >solicitud de exención (Anexo I)</a
    >
    , así como la documentación acreditativa, se presentará en la
    <span class="bold"> secretaría del centro docente </span> donde el alumnado
    se encuentre matriculado y a las mismas
    <span class="bold">se adjuntará</span> la siguiente documentación:
  </p>
  <div class="list-group">
    <a href="" class="list-group-item" (click)="inhabilitar($event)"
      >Para trabajadores o trabajadoras asalariados</a
    >
    <div class="list-group">
      <a href="#" class="list-group-item" (click)="inhabilitar($event)"
        ><span class="bold">Certificación de la Tesorería General</span> de la
        Seguridad Social, del Instituto Social de la Marina o de la Mutualidad a
        la que estuvieran afiliadas, donde conste la empresa, la categoría
        laboral (grupo de cotización) y el período de cotización.</a
      >
      <a href="#" class="list-group-item" (click)="inhabilitar($event)"
        ><span class="bold"
          >Contrato de trabajo o certificación de la empresa</span
        >
        donde hayan adquirido la experiencia laboral, en el que conste
        específicamente la duración de los periodos de prestación del contrato,
        la actividad desarrollada y el intervalo de tiempo en el que se ha
        realizado dicha actividad.</a
      >
    </div>

    <a href="#" class="list-group-item" (click)="inhabilitar($event)"
      >Para trabajadores o trabajadoras autónomos por cuenta propia</a
    >
    <div class="list-group">
      <a href="#" class="list-group-item" (click)="inhabilitar($event)"
        ><span class="bold">Certificación de la Tesorería General</span> de la
        Seguridad Social o del Instituto Social de la Marina de los perídos de
        alta en la Seguridad Social en el régimen especial correspondiente.
      </a>
      <a href="#" class="list-group-item" (click)="inhabilitar($event)"
        ><span class="bold">Descripción de la actividad desarrollada</span> e
        intervalo de tiempo en el que se ha realizado la misma.</a
      >
    </div>

    <a href="#" class="list-group-item" (click)="inhabilitar($event)"
      >Para trabajadores o trabajadoras voluntarios o becarios</a
    >
    <div class="list-group">
      <a href="#" class="list-group-item" (click)="inhabilitar($event)"
        ><span class="bold"
          >Certificación de la organización donde se haya prestado la
          asistencia</span
        >
        en la que consten, específicamente, las actividades y funciones
        realizadas, el año en el que se han realizado y el número total de horas
        dedicadas a las mismas.
      </a>
    </div>
  </div>
  <hr class="m-4" />
  <p class="h5 text-secondary">Plazo y lugar de presentación</p>
  <p class="text-secondary py-1">
    La solicitud, junto con la documentación correspondiente, deberá presentarla
    el interesado,
    <span class="bold">
      al menos un mes antes de la fecha de inicio del módulo profesional
    </span>
    de Formación en Centros de trabajo, del ciclo formativo de Formación
    Profesional Incial en el que esté matriculado.
  </p>
  <p class="text-secondary py-1">
    Cuando el alumno se matricule sólo del módulo profesional de formación en
    centros de trabajo y si procede, el de proyecto, esta solicitud se entregará
    en el momento de formalizar la matricula.
  </p>
  <p class="text-secondary py-1">
    La solicitud debidamente cumplimentada se entregará en la SECRETARÍA del
    Centro docente.
  </p>
  <p class="text-secondary py-1">
    En caso necesario, el Equipo Docente del ciclo formativo podrá recabar por
    escrito a los interesados cuanta información complementaria considere
    conveniente.
  </p>

  <hr class="m-4" />

  <p class="h5 text-secondary">Resolución de la solicitud de exención</p>
  <p class="text-secondary py-1">
    Corresponde a la persona titular de la dirección del centro docente donde
    conste el expediente académico del alumno o alumna, resolver la solicitud de
    exención del módulo de formación en centros de trabjao, que podrá ser total
    o parcial.
  </p>
  <p class="text-secondary py-1">
    La resolución de la exención será comunicada por escrito a la persona
    solicitante con al menos 10 días antes del comienzo de las actividades
    propias del módulo profesional de Formación en Centros de trabajo.
  </p>
  <hr class="m-4" />

  <p class="h5 text-secondary">Reclamaciones</p>
  <p class="text-secondary py-1">
    Los interesados podrán interponer recurso de alzada ante la persona titular
    de la Delegación Provincial de la Conserjería con competencias en materia de
    educación, que conocerá y resolverá el recurso por delegación de la persona
    titular de la Conserjería.
  </p>
  <hr class="m-4" />

  <p class="text-secondary py-1">
    Solicitud:
    <a
      href="https://www.iesruizgijon.es/images/ciclos/documentos/solicitud-exencion-fct_editable.pdf"
      >Anexo I rellenable</a
    >
  </p>
  <p class="text-secondary py-1">
    Normativa completa:
    <a href="https://juntadeandalucia.es/boja/2011/206/1"
      >Orden de 28 de septiembre de 2011</a
    >
  </p>
</div>
