<div class="container mt-3">
  <p class="h1">Solicitud convalicación de módulos</p>

  <p class="h5 text-secondary">
    Cómo obtener el usuario y la contraseña (autologin) de Pasen
  </p>
  <p class="text-secondary">
    Para solicitar la convalidación de algún módulo tienes que presentar el
    <a
      href="https://www.iesruizgijon.es/images/ciclos/documentos/ANEXO_IV._Convalidaciones.Orden_ECD-2159-2014.pdf"
      >Anexo IV</a
    >
    junto con un certificado de notas (<span class="bold">Anexo XI</span>) en el
    que aparezcan los códigos de los módulos (solo el alumnado que no haya
    cursado la materia a convalidar en nuestro Centro) en la Secretaría del
    Centro o enviarlo a
    <a href="mailto:ciclos@iesruizgijon.com">ciclos@iesruizgijon.com</a>.
  </p>
  <p class="text-secondary">
    El periodo para la convalidación de módulos finaliza el
    <span class="bold">15 de octubre</span>.
  </p>
  <p class="text-secondary">
    Para matrículas en periodo extraordinario, el plazo de entrega de la
    solicitud de convalidación y de la documentación es de
    <span class="bold">
      una semana desde el momento en que se hace efectiva la matriculación </span
    >.
  </p>
  <ul class="list-group m-3">
    <li class="list-group-item">
      <a
        href="https://www.iesruizgijon.es/images/ciclos/documentos/ANEXO_IV._Convalidaciones.Orden_ECD-2159-2014.pdf"
        >Anexo IV (Orden ECD/2159/2014, 7 de noviembre)</a
      >
    </li>
  </ul>
  <p class="text-secondary">
    Más información:
    <a
      href="https://www.todofp.es/pruebas-convalidaciones/convalidaciones-equivalencias-homologaciones/convalidaciones.html"
      >Convalidaciones en Formación Profesional</a
    >
  </p>
</div>
