/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.bold{
  font-weight: 550;
  color: black;
}

span.underline{
  text-decoration: underline;
}


.text-secondary{
  font-size: 1rem;
  line-height: 1.5rem;
}
