<div class="container mt-3 p-2">
  <p class="h1">Itinerario formativo CFGS "DAW"</p>
  <p class="text-secondary py-3">
    A continuación os mostramos las <span class="bold">orientaciones</span> para
    elegir el <span class="bold"> itinerario formativo </span> que el
    Departamento de Informática del IES Ruiz Gijón recomienda seguir al alumnado
    que cursa el Ciclo "Desarrollo de Aplicaciones Web" en
    <span class="bold">oferta parcial</span>, tal y como queda recogido en la
    Programación Educativa del Ciclo:
  </p>
  <p class="text-secondary py-3">
    MÓDULOS PROFESIONALES CON FORMACIÓN BÁSICA O DE SOPORTE Y SU RELACIÓN CON
    LOS DE 2º CURSO (por tanto, es necesario
    <span class="bold">haber superado el de primero</span>):
  </p>

  <ul class="list-group ms-3 mb-3">
    <li class="list-group-item">
      Sistemas Informáticos (1º DAW) -> Despliegue de Aplicaciones Web (2º DAW)
    </li>
    <li class="list-group-item">
      Bases de Datos (1º DAW) -> Desarrollo Web en Entorno Servidor (2º DAW)
    </li>
    <li class="list-group-item">
      Programación (1º DAW) -> Desarrollo Web en Entorno Servidor y Desarrollo
      Web en Entorno Cliente (2º DAW)
    </li>
    <li class="list-group-item">
      Lenguajes de Marcas y Sistemas de Gestión de Información (1º DAW) ->
      Desarrollo Web en Entorno Cliente, Desarrollo Web en Entorno Servidor y
      Diseño de Interfaces Web (2º DAW).
    </li>
  </ul>

  <p class="text-secondary py-3">
    MÓDULOS PROFESIONALES CON FORMACIÓN COMPLEMENTARIA ENTRE AMBOS (<span
      class="bold"
    >se aconsejan cursar simultáneamente</span
    >):
  </p>

  <ul class="list-group ms-3 mb-3">
    <li class="list-group-item">
      Programación (1º DAW) + Entornos de Desarrollo (1º DAW)
    </li>
    <li class="list-group-item">
      Desarrollo Web en Entorno Cliente (2º DAW) + Desarrollo Web en Entorno
      Servidor (2º DAW) + Despliegue de Aplicaciones Web (2º DAW) + Diseño de
      Interfaces Web (2º DAW)
    </li>
  </ul>

  <p class="text-secondary py-3">
    MÓDULOS PROFESIONALES CON FORMACIÓN TRANSVERSAL:
  </p>

  <ul class="list-group ms-3">
    <li class="list-group-item">
      Lenguajes de Marcas y Sistemas de Gestión de Información
    </li>
    <li class="list-group-item">Sistemas Informáticos</li>
    <li class="list-group-item">Bases de Datos</li>
    <li class="list-group-item">Programación</li>
    <li class="list-group-item">Entornos de Desarrollo</li>
    <li class="list-group-item">Formación y orientación laboral</li>
    <li class="list-group-item">Empresa e iniciativa emprendedora</li>
  </ul>
</div>
